input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.main {
    position: relative;
}

.inp {
    padding: 0px 10px;
    background: transparent;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #04AA6D;
    border-radius: 10px;
    font-size: 20px;
}

.lab {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 14px;
    padding: 0px 5px;
    transition: 0.3s;
    pointer-events: none;
    text-transform: capitalize;
    color: #FFF;
    background: linear-gradient(180deg,#333583,#fff);
    cursor: pointer;
}
